.chatOnlineFriend {
	display: flex;
	align-items: center;
	font-weight: 500;
	cursor: pointer;
	margin-top: 0.7rem;
}

.chatOnlineImgContainer {
	position: relative;
	margin-right: 0.7rem;
}

.chatOnlineImg {
	height: 2.5rem;
	width: 2.5rem;
	border-radius: 50%;
	object-fit: cover;
	margin-right: 0.7rem;
}

.chatOnlineBadge {
	position: absolute;
	width: 0.7rem;
	height: 0.7rem;
	border-radius: 50%;
	background-color: limegreen;
}

@media screen and (max-width: 768px) {
	.chatOnlineName {
		display: none;
	}
}